<section id="products">
    <div *ngIf="productsSideBar.length<=0">
        <article *ngFor="let product of products">
            <div id="ofert-product">
                Oferta! ${{product.precio}}
            </div>
            <div id="product">
                <img src="https://via.placeholder.com/250" alt="">
                <h4>{{product.nombre}}</h4>
                <p>{{product.descripcion}}</p>
            </div>
        </article>
    </div>

    <div *ngIf="productsSideBar">
        <article *ngFor="let product of productsSideBar">
            <div id="ofert-product">
                Oferta! ${{product.precio}}
            </div>
            <div id="product">
                <img src="https://via.placeholder.com/250" alt="">
                <h4>{{product.nombre}}</h4>
                <p>{{product.descripcion}}</p>
            </div>
        </article>
    </div>

</section>