<header id="header">
    <div id="logo">
        <span>n</span>
        <!--<img src="../../../assets/images/logo.png" alt="">-->
        <div id="brand">E-COMMERCE</div>
    </div>

    <nav id="menu">
        <ul>
            <li><span>Home</span></li>
            <li><span>Categorías</span></li>
            <li><span>Ayuda</span></li>
        </ul>
    </nav>
    <div id="browser">
        <form>
            <input type="text" name="article" placeholder="Busca tu producto!">
            <span>L</span>
        </form>
    </div>

    <div id="user">
        <span>G</span>
        <span>n</span>
        <span>u</span>
    </div>
</header>